.DS_Store
assessments/.DS_Store
assessments/templates/.DS_Store
expo-env.d.ts
/static/*
/media/static/*
*.pyc
/__pycache__/*
/migrations/*
/assessments/migrations/*
__pycache__/*
*.pyc
/assessments/migrations
.env
venv/
/node_modules/*
/ios/*
/android/*
/.env
/firebase_key.json
/db.sqlite3
