.DS_Store
assessments/.DS_Store
assessments/templates/.DS_Store
expo-env.d.ts
/static/*
/media/static/*
*.pyc
/__pycache__/*
__pycache__/*
*.pyc
.env
venv/
/node_modules/*
/ios/*
/android/*
/.env
/firebase_key.json
/firebase_uat_key.json
/db.sqlite3
/media/uploaded_excels/*
logs/*
assessments/migrations/0017_remove_learner_educational_institution.py
assessments/migrations/0018_hospital_skillathon_institution_skillathon.py
assessments/add_learner_test_cases.txt
find_unused_procedures.py
get_remaining_procedure_assignments.py
assessments/migrations/00*
firebase_key.json
populate_data.py
media/Testing_New_metadata.xlsx
firebase-debug.log
